@use 'base/variables' as v;

.alerta{
    padding: calc(v.$separacion / 8);
    color: v.$blanco;
    width: 100%;
    display: block;
    margin-bottom: 0.3rem;
    border-radius: 0.5rem;
    text-align: center;

    &.error { 
        background-color: v.$rojo;
    }

    &.exito{
        background-color: v.$verde;
    }
}